name: ci

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  lint-and-test:
    name: Test on node ${{ matrix.node-version }} and ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        node-version: [22, 24]
        os: [ubuntu-latest]

    steps:
      - uses: actions/checkout@v5.0.0
        with:
          fetch-depth: 1
      - run: corepack enable
      - uses: actions/setup-node@v6.1.0
        with:
          node-version: ${{ matrix.node-version }}
      - run: yarn
      - run: yarn lint
      - run: yarn build
      - run: yarn test:cov
